canvas {
    display: block;
    margin: auto;
}

form > * {
    margin-top: 5px;
}

form label {
    display: inline-block;
    width: 100px;
}

form {
    width: 300px;
    margin: auto
}

form input,select{
    width: 196px
}

form input[type=submit] {
    margin-left: 200px;
    width: 100px;
}

table {
    margin: 0 auto;
}