<form novalidate name="addExpenseForm" ng-cloak>
    <input label="Title:" id="expenseTitle" required ng-model="$ctrl.expense.title"/>
    <input label="Amount:" type="number" id="expenseAmount" required ng-model="$ctrl.expense.amount"/>
    <my-label text="Currency:" input-id="expenseCurrency">
        <currency-select select-id="expenseCurrency" model="$ctrl.expense.currency" on-select="$ctrl.onCurrencySelect(currency)"/>
    </my-label>
    <div>
        <input type="submit" value="Add" ng-click="$ctrl.add($ctrl.expense)" ng-disabled="addExpenseForm.$invalid"/>
    </div>
</form>