<table ng-show="$ctrl.expenses.length">
    <tr>
        <th>Title</th>
        <th>Amount</th>
        <th>Currency</th>
    </tr>
    <tr ng-repeat="expense in $ctrl.expenses">
        <td><input ng-model="expense.title"/></td>
        <td><input ng-model="expense.amount"/></td>
        <td>
            <currency-select selected-value="expense.currency.id" on-select="$ctrl.changeCurrencyOnExpense(expense, currency)"/>
        </td>
    </tr>
</table>